{% extends "layout.html" %}

{% block body %}
<h1>Immune Peptide Search</h1>
 <form id="form">
   <fieldset>
    <ol>

        <li>
            <label for="query">
                Peptide Substring
            </label>
            <input type="search"
                   value="{{query}}"
                   name="query"
                   id="query">
        </li>
        <li>
            <label for="offsetFromStart">Offset from Start of Peptide</label>
            <input type="number"
                   name="offsetFromStart"
                   min=0
                   max=99
                   value={{offset_from_start | default(0)}}>
        </li>
        <li>
            <label for="offsetFromEnd">Offset from End of Peptide</label>
            <input type="number"
                   name="offsetFromEnd"
                   id="offsetFromEnd"
                   min=0
                   max=99
                   value={{offset_from_end | default(0)}}>
        </li>

        <li>
            <label for="minAssayCount">Minimum Assay Count</label>
            <input type="number"
                   name="minAssayCount"
                   id="minAssayCount"
                   min=0
                   max=99
                   value={{min_assay_count | default(1)}}>
        </li>

        <li>
            <label for="minAssayCount">Minimum Fraction Positive Results</label>
            <input type="number"
                   name="minPositiveFraction"
                   id="minPositiveFraction"
                   min=0
                   max=1
                   value={{min_positive_fraction | default(0.5)}}
                   step="0.01"
                   size="2"
                   maxlength="2">
        </li>
    </ol>
    </fieldset>
    <fieldset>
        <input type="submit" id="submit" value="Search" action="/search/">
    </fieldset>
</form>
{% endblock %}

